<!DOCTYPE html>
<html lang="en">
<head>
<meta charset ="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Home</title>
<style>
 body
 {
 background-image:url("https://media.istockphoto.com/id/1198780608/photo/human-thyroid-anatomy.jpg?s=612x612&w=0&k=20&c=A96BQGdc57yAqHZI3cS2xrHJTPcUBvXsXQqdNSWh8jA=");
 background-size:cover;
 }
 h3.big
 {
 line-height:1.8;
 }
</style>
</head>


<body>
<br>
<div class="container">
<div class="row">
<div class="col-md-12 bg-light text-right">
<a href="/home" class="btn btn-info btn-lg">Home</a>
<a href="/predict" class="btn btn-primary disabled btn-lg">Predict</a>
</div>
</div>

<center>
<h1><strong><p style="color: orange">Thyroid disease Classification</p></strong></h1>
<h3><p style="color: white">Based on given input, it predicts Thyroid disease for your body condition is ['miscellaneous']</p></h3>
</center>
</div>


<script src="https://ajax.googleapix.com/ajax/libs/jquer/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>